.header-billboard {
  background-image: url(../img/lg/neon-lg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header-billboard::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.301);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header-billboard .title p {
  width: 100%;
}